<%= form_with(model: perguntum) do |form| %>
  <% if perguntum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(perguntum.errors.count, "error") %> prohibited this perguntum from being saved:</h2>

      <ul>
        <% perguntum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :enunciado, style: "display: block" %>
    <%= form.text_field :enunciado %>
  </div>

  <div>
    <%= form.label :quiz_id, style: "display: block" %>
    <%= form.text_field :quiz_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
