<%= form_with(model: respostum) do |form| %>
  <% if respostum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(respostum.errors.count, "error") %> prohibited this respostum from being saved:</h2>

      <ul>
        <% respostum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :conteudo, style: "display: block" %>
    <%= form.text_field :conteudo %>
  </div>

  <div>
    <%= form.label :correta, style: "display: block" %>
    <%= form.checkbox :correta %>
  </div>

  <div>
    <%= form.label :pergunta_id, style: "display: block" %>
    <%= form.text_field :pergunta_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
